@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #FBE2D0, #D4B99E);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(120, 105, 90, 0.617);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: rgb(212, 185, 158);
    text-align: center;
    text-shadow: 1px 1px 0px rgba(151, 132, 113, 0.606);
}

h2 {
    color: #507993;
}

p{
    text-align: justify;
}